h2{
    font-size: 16px;
}

h3{
    font-size: 25px;
}

h3 span{
    font-size: 30px;
    color: #F4B517;
}

.text-center{
    text-align: center;
}

.headerTitle{
    background-color: #F4B517;
    margin-top:80px;
}

.contentRewards{
    background-color: #fff;
    padding:0 30px;
}

