    <ion-row>
        <ion-col col-lg-6 col-12 class="text-center">
            <ion-row class="">
                <ion-col col-lg-12 class="headerTitle">
                    <h2>1K+ SmartRewards 1MM+</h2>
                </ion-col>                
            </ion-row>
            <ion-row class="contentRewards">
                <ion-col col-lg-6 class="text-center">
                    <h2>SmartRewards</h2>
                    <h3>{{ smartRewards }} <span>%</span></h3>
                </ion-col>
        
                <ion-col col-lg-6 class="text-center">
                    <h2>SuperRewards </h2>
                    <h3>{{ superRewards }} <span>%</span></h3>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col col-lg-6 col-12 class="text-center">
            <ion-row>
                <ion-col col-lg-12 class="headerTitle">
                    <h2>SmartNodes</h2>
                </ion-col>            
            </ion-row>
            <ion-row class="contentRewards">
                <ion-col col-lg-4>
                    <h2>SmartNode Collateral</h2>
                    <h3>{{ colateral }}</h3>
                </ion-col>
                <ion-col col-lg-4>
                    <h2>Yearly Rewards</h2>
                    <h3>{{ yearly_rewards }}</h3>
                </ion-col>
                <ion-col col-lg-4>
                    <h2>Yearly Yield</h2>
                    <h3>{{ yearly_yield }} <span>%</span></h3>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
