<ion-header no-border>
    <ion-navbar color="bp-blue" class="nav-container" hideBackButton>
        <ion-title (click)="goHome()" class="logo-header"><img src="../../assets/img/smartlogo.png" class="img-logo"
                alt="SMARTCASH" /></ion-title>
        <!--search bar -->
        <form class="search" (ngSubmit)="search()">
            <div class="input-container">
                <div class="search-image-container">
                    <img class="search-image" src="assets/img/search-icon.svg">
                </div>
                <input dir="auto" placeholder="{{ 'Search for block, transaction or address' }}" [(ngModel)]="q"
                    name="search" autocomplete="off" autocorrect="off" spellcheck="false">
            </div>
        </form>
    </ion-navbar>

    <ion-toolbar class="mobile-searchbar" fixed>
        <form (ngSubmit)="search()">
            <ion-searchbar #searchbar placeholder="{{ 'Search for block, transaction or address' }}" [(ngModel)]="q"
                name="search"></ion-searchbar>
        </form>
    </ion-toolbar>
</ion-header>
